body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.Header {
	background-color: rgba(50, 238, 27, 0.7);
	border: 10px solid rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	radius: 20px;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
    background-color: #f2f2f2;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e0e0e0;
}

button:hover {
    background-color: #ccc;
}

button:active {
    background-color: #bbb;
}

button:nth-child(4n) {
    background-color: #ff9500;
    color: white;
}

button:nth-child(4n):hover {
    background-color: #e68a00;
}
